{erl_opts,
 [debug_info,
  warnings_as_errors]}.

{deps, [hackney, jsx]}.

{shell, [{apps, [augle]}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},

                    {deps, [{meck, "0.8.8"}]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
